<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <!-- no title lets us set title during BrowserWindow creation -->
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <div id="settings">
      <span v-if="loggedIn">
        <img v-bind:src="user.image">
        <p>Logged in as {{ user.name }}</p>
        <button v-on:click="logout">Log out</button>
      </span>
      <span v-else>
        <p>Not logged in</p>
        <button v-on:click="login">Log in</button>
      </span>
      <form>
        <fieldset :disabled="!loggedIn">
          <legend>Settings</legend>
          <input type="checkbox" id="save-to-library" v-model="saveToLibrary">
          <label for="save-to-library">Save to My Songs</label>
          <br>
          <label for="playlists">Playlist</label>
          <select size="6" id="playlists" v-model="selectedPlaylist" :disabled="!saveToLibrary">
            <option disabled value="-1">Please select a playlist</option>
            <option v-for="playlist in playlists" v-bind:value="playlist.id">
              {{ playlist.name }}
            </option>
          </select>
        </fieldset>
      </form>
    </div>
    <script>
      // You can also require other files to run in this process
      require('./renderer.js')
    </script>
  </body>
</html>
