<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <!-- no title lets us set title during BrowserWindow creation -->
    <link rel="stylesheet" href="../vendor/bulma.css" />
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <div id="settings">
      <nav class="level is-mobile"> <!-- is-mobile makes it appear on any viewport size -->
        <!-- Left side -->
        <div class="level-left">
          <div v-if="state.user" class="level-item">
            <img v-bind:src="state.user.image" class="image is-32x32 avatar">
          </div>
          <div class="level-item">
            <p v-if="state.user">Logged in as <strong>{{ state.user.name }}</strong></p>
            <p v-else>Not logged in</p>
          </div>
        </div>
        <!-- Right side -->
        <div class="level-right">
          <div class="level-item">
            <a v-if="state.user" v-on:click="logout" class="button is-danger is-small is-inverted">Logout</a>
            <!-- todo: Use bulma is-loading on the button while login in progress -->
            <a v-else v-on:click="login" class="button is-small is-inverted">Log in</a>
          </div>
        </div>
      </nav>
      <section>
        <form v-on:submit.prevent="save"> <!-- prevent page reload when form is submitted -->
          <div class="field is-horizontal">
            <div class="field-label">
              <label class="label">Playlist</label>
            </div>
            <div class="field-body">
              <div v-if="state.user" class="field">
                <div class="control">
                  <div class="select is-multiple is-small">
                    <select size="7" id="playlists" v-model="settings.selectedPlaylist">
                      <!-- should probably use optgroup here but bulma doesn't support it too well -->
                      <option disabled value="-1">Library</option>
                      <option v-bind:value="savedTracksId">My Songs</option>
                      <option disabled value="-1">Playlists</option>
                      <option v-for="playlist in state.playlists" v-bind:value="playlist.id" :key="playlist.id">
                        {{ playlist.name }}
                      </option>
                    </select>
                  </div>
                </div>
                <p class="help">Select the playlist you want to save the current song to</p>
              </div>
              <div v-else class="field">
                <div class="control">
                  <p class="help is-info">Log in to your Spotify account to see playlists</p>
                </div>
              </div>
            </div>
          </div>
          <div class="field is-horizontal">
            <div class="field-label">
              <label class="label">Hotkey</label>
            </div>
            <div class="field-body">
              <div class="field is-narrow">
                <div class="field is-grouped">
                  <template v-for="modifier in modifiers">
                    <div class="control">
                      <label v-bind:for="modifier.id" class="checkbox is-small">
                        <input type="checkbox" v-bind:id="modifier.id" v-bind:value="modifier.id" v-model="settings.hotkey.modifiers">
                        {{ modifier.name }}
                      </label>
                    </div>
                  </template>
                </div>
                <p class="help">Modifiers</p>
              </div>
              <div class="field is-expanded">
                <div class="control">
                  <div class="select is-small">
                    <select id="keys" v-model="settings.hotkey.key">
                      <option v-for="key in keys" v-bind:value="key.id" :key="key.id">
                        {{ key.name }}
                      </option>
                    </select>
                  </div>
                </div>
                <p v-if="!settings.hotkey.key" class="help is-danger">Choose a valid hotkey</p>
              </div>
            </div>
          </div>
          <div class="field is-horizontal">
            <div class="field-label">
              <label class="label">Autostart</label>
            </div>
            <div class="field-body">
              <div class="field is-narrow">
                <div class="control">
                  <label for="autostart" class="checkbox is-small">
                    <input type="checkbox" id="autostart" v-model="settings.autostart">
                    Run on startup
                  </label>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <div class="field is-horizontal">
            <div class="field-label">
              <!-- empty label to preserve alignment -->
            </div>
            <div class="field-body">
              <div class="field is-grouped">
                <div class="control">
                  <input type="submit" value="Save" :disabled="!settings.hotkey.key" class="button is-primary"> <!-- this triggers form's v-on:submit -->
                </div>
                <div class="control">
                  <input type="button" value="Cancel" v-on:click="cancel" class="button">
                </div>
              </div>
            </div>
          </div>
        </form>
      </section>
    </div>
    <script src="./renderer.js"></script>
  </body>
</html>
