:root {
  --accent-color: #7c1ed7; /* same purple as in the app icon */
  --text-color: #222222; /* dark gray */
  --inverted-text-color: #eeeeee; /* light white */
}

html {
  background-color: #f1f1f1;
}

.avatar {
  border: 1px solid black;
}

.help {
  color: #666666;
}

nav {
  border-width: 1px;
  border-color: black;
  border-bottom-style: solid;
  padding: 3px;
  background-color: var(--accent-color);
}

nav .avatar {
  border-radius: 50%; /* circle */
}

/* bulma hardcodes the color of <strong> */
nav p, nav p * {
  color: var(--inverted-text-color);
}

section {
  padding: 10px;
}

select {
  /*
  make <option> recognize the <select> width and not apply a min-width
  this prevents the <select> from being wider than it should be with long entries
  */
  width: 100%;
}

.is-multiple select {
  height: unset;
  padding: 0 !important; /* Override Bulma's padding-right on <select>s without the multiple tag */
}

/* Copy Bulma style for <select> with the multiple tag */
.is-multiple select option {
  padding: 0.5em 1em;
}

/* Make sections indicated by disabled <option> stand out */

.is-multiple select option:disabled {
  font-size: 120%;
  font-weight: bold;
}

.is-multiple select option:disabled::after {
  content: ":";
}

.is-multiple select option:not(:disabled) {
  padding-left: 20px;
}
